@model IEnumerable<Bank.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Loan</h1>

<p>
    <a asp-action="Create"> Get Loan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmount)
            </td>

            <td>
                <a asp-action="PayLoan" asp-route-id="@item.AccountId">Pay Loan</a>
                <a asp-action="WithDraw" asp-route-id="@item.AccountId">withdraw</a>
                <a asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
